{% extends "app/base.html" %}

{% block content %}
    <div class="container">
        <h2>Message
            {% if message.sender == user %}
                to {{ message.recipient }}
            {% else %}
                from {{ message.sender }}
            {% endif %}
        </h2>
        <hr>
    </div>
    </div>
    <div class="container">
        <div class="container">
            {{ message.content }}
        </div>
        <div class="container text-right">
            <small>{{ message }}</small>
        </div>
    </div>
    <div class="container">
        <hr>
        <a class="btn btn-primary" href="{% url 'messages' %}" }>Back</a>
    </div>

{% endblock %}